.row
  .col-md-3.col-md-offset-3.container
    .text-center
      %h1 My Recipes
      = link_to 'Add a new Recipe', new_catalog_recipe_path(@catalog)
#cards_container.container{data: raw(@catalog.recipes.to_json)}
