= recipe_form.fields_for ingredient, index: ingredient.id do |ingredient_form|
  = render partial: 'recipe/product', locals: { product: ingredient.product, recipe_form: recipe_form }
  = ingredient_form.label :weight, class: 'sr-only'
  = ingredient_form.text_field :weight, class: 'form-control', placeholder: 'ingredient weight'