=render partial: 'recipe/recipe', locals: { recipe: @recipe }
%div
  = link_to 'Edit', edit_recipe_path(@recipe)
  |
  = link_to 'Delete', recipe_path(@recipe), method: :delete
  |
  = link_to 'Back', @recipe.catalog
