%nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-sm.sticky-top
  -if logged_in?
    %button.navbar-toggler.navbar-toggler-right{'data-toggle': 'collapse', 'data-target': '#navbarText'}
      %span.navbar-toggler-icon
  =link_to 'Cookery Book', root_path, class: 'navbar-brand nav-item'
  -if logged_in?
    %div.navbar-collapse.collapse{id: 'navbarText'}
      %ul.nav.navbar-nav.ml-auto
        %li.dropdown
          %a.dropdown-toggle.nav-link{href: '#', 'data-toggle': 'dropdown'}
            My Account
            %span.caret
          %ul.dropdown-menu.bg-inverse.header-dropdown
            %li
              =link_to 'Settings', edit_user_path(current_user), class: 'nav-link'
            %li
              =link_to 'Sign out', logout_path, method: :delete, class: 'nav-link'